VITE_PRODUCT_DEVELOPMENT_URL=https://foodlab-product-development.netlify.app
VITE_SENSORY_URL=https://foodlab-sensory.netlify.app
VITE_SHELF_LIFE_URL=https://foodlab-shelf-life.netlify.app
VITE_QA_URL=https://foodlab-qa.netlify.app
